.cwf-patientheader {
    overflow: hidden;
}

.cwf-patientheader .fujion_toolbar {
	border: none;
	vertical-align: middle;
}

.cwf-patientheader .glyphicon {
	background: none;
	border: none;
	font-size: 110%;
	padding-bottom: 5px;
}

.cwf-patientheader .glyphicon:disabled {
	opacity: .5;
}

.cwf-patientheader a {
	text-decoration: underline;
}

.cwf-patientheader a:focus {
	outline: none;
}

.cwf-patientheader-label {
	font-weight: bold;
	padding-right: 5px;
}
