/* CSS for printing of clinical documents. */

* {
	width: 100% !important;
	overflow: visible !important;
	border: none !important;
}

.z-listbox, .z-listbox-body {
	height: auto !important;
}

.z-listitem-seld {
	background-image: none!important;
}

.cwf-documents-sep {
	page-break-before: always;
	background-color: black;
	height: 3px;
	margin: 10px 0 10px 0;
}

.fujion-listitem:first-child .cwf-documents-sep,
.cwf-documents-lstList tbody>tr>td:first-child,
.cwf-documents-lstList tbody>tr>th:first-child {
    display: none;
}
